{% from "Macros.jinja2" import header, footer %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KpopNews/{{ info_noticia['título'] }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Plantilla.css') }}">
</head>
<body>
	<div class="contenido">
		{{ header() }}

		<main>
			<div class="gif">
				<img src="{{ url_for('static', filename='IMG/Kpop_Plantilla.gif') }}" alt="Gif">
			</div>

			<div class="informacion">
				<h1>{{ info_noticia['título'] }}</h1>
				<time>{{ info_noticia['publicado'] }}</time>
				
				{% for parrafo in contenido %}
					<p>{{ parrafo }}</p>
				{% endfor %}
			</div>

			<div class="noticias">
				{% for articulo in articulos[:2] %}
		            <section>
   						<img src="{{ articulo.img if articulo.img else url_for('static', filename='IMG/Noticia_' ~ (loop.index % 3 if loop.index % 3 != 0 else 3) ~ '.jpg') }}" alt="KpopNews">
						<p>
							<a href="{{ url_for('plantilla', titulo=articulo['título']) }}">
								<cite>{{ articulo["publicado"] }}</cite><br>
								{{ articulo["título"] }}
							</a>
						</p>		
		            </section>
	            {% endfor %}		
			</div>
		</main>
	</div>

	{{ footer() }}
</body>
</html>